table
{
	border-collapse: collapse;
	margin-top: 20px;
}

table, th, td
{
	border: 1px solid black;
}

.botones 
{
	height: 60px;
	width: 300px;
    display: inline-block;
    margin: 0px auto;
    margin-left: 500px;
    color: red;
    text-align: center;
    padding: 40px;
}

